<h1>Sites#list</h1>
<p>Find me in app/views/sites/list.html.erb</p>
<h2>Sites and Hits</h2>
  <p>Note that you are only viewing the sites that you are permitted to view, including ones that you own and ones that are public.</p>
<p> You are currently signed in as <%= session[:current_user] %>. You may <a href="/signout">signout here</a>.</p>
<p> You can claim sites that are yours by going to "fast-forest-5811.herokuapp.com/sites/idnum" where idnum is the id for your site.<p>

<br />

<table>
  <tr>
    <th>Name</th>
    <th>Hit Count</th>
    <th>Duration</th>
    <th>Avg visit length</th>
  </tr>

  <%  sites = Site.find(:all)
    sites.each do |site|
    if site.ownedby != session[:current_user] and site.isopen == 0
      next
    end
 %>
    <tr>
      <td><%= site.name %></td>
      <td><%= site.hits %></td>
      <td><%= site.total_duration %></td>
      <td><%=
        if site.hits == 0
          site.total_duration.to_i
        else
          site.total_duration.to_i / site.hits.to_i
        end
%></td>
    </tr>
  <% end %>
</table>
