<h1>Sites#list_site</h1>
<p>Find me in app/views/sites/list_site.html.erb</p>
<h2>Site, Pages: Hits</h2>
<table>

  <tr>
    <th>Total</th>
    <th>Hits</th>
    <th>Duration</th>
    <th>Avg visit length</th>
  </tr>

  <tr>
  <% site = Site.find_by_name(params[:id]) %>
    <td><%= site.name %></td>
    <td><%= site.hits %></td>
    <td><%= site.total_duration %></td>
    <td><%=
        if site.hits == 0
          site.total_duration.to_i
        else
          site.total_duration.to_i / site.hits.to_i
        end
%></td>
  </tr>
  <tr>
    <th>Page</th>
    <th>Hits</th>
    <th>Duration</th>
    <th>Avg visit length</th>
  </tr>

  <%  pages = Page.where(:site_id => params[:id])
    pages.each do |page| %>
    <tr>
      <td><%= page.name %></td>
      <td><%= page.hits %></td>
      <td><%= page.total_duration %></td>
      <td><%=
        if page.hits == 0
          page.total_duration.to_i
        else
          page.total_duration.to_i / page.hits.to_i
        end
          %></td>
    </tr>
  <% end %>
</table>
